body {
    background-color: #272822;
    color: #ffffff;
    font-family: Menlo, Monaco, 'Courier New', monospace;
    margin: 0;
    
    
}

.intro-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;  /* space between image and text */
    max-width: 900px;  /* adjust as needed */
    margin: 0 auto;
    padding: 0 15px;
}

.intro-container img {
    margin-top: 10px;  /* align with text */
    order: 0;  /* puts image on the right */
    gap: 100px;
    margin-right: 10px;
    max-width: 100%;
    height: auto;
}

.intro-container p {
    margin: 70px 0 !important;  /* override inline styles */
}

.intro-container a {
    color: #ffffff;
    text-decoration: none;
}

.intro-container a:hover {
    color: white;
}

.monokai-grey {
    color: #272822;
}

.monokai-pink {
    color: #f92672;
}

.monokai-orange {
    color: #fd971f;
}

.monokai-green {
    color: #a6e22e;
}

.monokai-blue {
    color: #66d9ef;
}

header {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    font-family: Menlo, Monaco, 'Courier New', monospace;
    flex-wrap: wrap;
    margin-top: 5px;
}

#name a {
    color: #f92672;
    margin-left: 70px;
    font-family: Menlo, Monaco, 'Courier New', monospace;
    font-size: 26px;
    cursor: pointer;
    text-decoration: none;
}

#name a:hover {
    color: white;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

nav a {
    color: #f92672;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    color: white;
}



main {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h3 {
    color: #f92672;
    text-align: left;
    margin-right: 700px;
}

h3 a {
    color: #f92672;
    text-decoration: none;
}

h3 a:hover {
    color: white;
    cursor: pointer;
}

#secondh3 {
    text-align: left;
    margin-right: 50px;
}

#articles {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

#date {
    font-size: 15px;
    color: #ffffff;
}

article {
    width: 70%;
    margin-bottom: 20px;
    display: block;
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Menlo, Monaco, 'Courier New', monospace;
}

article h2 {
    color: #f92672;
    text-decoration: none;
    font-size: 35px;
    font-family: Menlo, Monaco, 'Courier New', monospace;
}

article p {
    color: white;
}

article h2 a {
    color: #f92672;
    text-decoration: none;
    font-size: 25px;
    font-family: Menlo, Monaco, 'Courier New', monospace;
}

article h2 a:hover {
    color: #ffffff;
}

article p a {
    color: #f92672;
    text-decoration: none;
}

article p a:hover {
    text-decoration: underline;
}

h3 {
    color: #f92672;
    text-align: left;
    margin-right: 700px;
}

h3 a {
    color: #f92672;
    text-decoration: none;
    font-family: Menlo, Monaco, 'Courier New', monospace;
}

h3 a:hover {
    color: white;
    cursor: pointer;
}

#secondh3 {
    text-align: left;
    margin-right: 50px;
    font-family: Menlo, Monaco, 'Courier New', monospace;
}

#secondh3 a {
    text-align: left;
    margin-right: 50px;
    color: #f92672;
    font-family: Menlo, Monaco, 'Courier New', monospace;
}

#secondh3 a:hover {
    color: #ffffff;
    cursor: pointer;
}

#askResume {
    display: flex;
    align-items: flex-start;
    gap: 40px;  /* space between image and text */
    max-width: 600px;  /* adjust as needed */
    margin: 0 auto;
}

#askResume article p {
    color: #ffffff;
    text-decoration: none;
}


@media screen and (max-width: 480px) {
    header {
        padding: 30px;
    }

    #name a {
        margin-left: 10px;
        font-size: 16px;
    }

    nav {
        gap: 9px;
        margin-top: 30px;
    }

    nav a {
        font-size: 16px;
    }

    article h2 {
        font-size: 22px;
    }

    .intro-container {
        flex-wrap: wrap;
        gap: 15px;
    }

    .intro-container img {
        margin-top: 10px;  /* align with text */
        order: 0;  /* puts image on the right */
        gap: 100px;
        margin-right: 10px;
        max-width: 25%;
        height: 25%;
    }

    main {
        padding: 10px;
    }
}